.box {
  width: 100%;
  background-color: #4d4c4c;
}
.inner__box img {
  width: 100%;
  position: relative;
}
.inner__map {
  position: absolute;
  width: 300px;
}
.titless {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  height: 73px;
  border-radius: nullpx;
  background-color: #4d4c4c;
  margin-left: 100px;
  margin-bottom: 40px;
}
.icon {
  position: absolute;
  top: 3950px;
  left: 128px;
}
.icon2 {
  position: absolute;
  top: 3900px;
  left: -210px;
}
.icon3 {
  position: absolute;
  top: 4020px;
  left: -410px;
}
.icon4 {
  position: absolute;
  bottom: -4150px;
  left: -210px;
}
.inner_map img {
  width: 300px;
}
